/* CALL-TO-ACTION SECTION */
.section-cta {
  padding: 0 0 9.6rem 0;
}

/* CALL-TO-ACTION */
.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 0;
  border-radius: 11px;

  background-image: linear-gradient(
    to right,
    rgba(235, 152, 78, 1),
    rgba(230, 126, 34, 1)
  );
  transition: all 0.3s ease;
}

.cta:hover {
  box-shadow: 0 0 1.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

/* CALL-TO-ACTION IMAGE */
.cta-image {
  width: 100%;
  border-top-right-radius: 11px;
  border-bottom-right-radius: 11px;
}

/* CALL-TO-ACTION FORM */
.cta-text-box {
  padding: 4.8rem;
}

/* CALL-TO-ACTION IMAGE-BOX */
.cta-image-box {
  background-image: linear-gradient(
      to right,
      rgba(235, 152, 78, 0.4),
      rgba(230, 126, 34, 0.2)
    ),
    url("../img/eating.jpg");
  background-size: cover;
}

/* CALL-TO-ACTION FORM__SUBTITLE*/
.cta-form__subtitle {
  line-height: 1.8;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

/* FORM-LIST */
.form-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 3.2rem;
}

.form-list li {
  display: flex;
  flex-direction: column;
}

.form-list li:last-child {
  display: flex;
  align-content: end;
  justify-content: end;
}

/* FORM-LABEL */
.form-label {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
  display: block;
}

/* FORM-INPUT */
.form-input {
  padding: 1.2rem 0.8rem;
  border-radius: 11px;
  font-size: 1.6rem;
  width: 100%;

  outline: 6px transparent solid;
  border: 1px transparent solid;
}

.form-input:focus {
  border: 1px solid #000;
  outline: 6px rgba(255, 255, 255, 0.75) solid;
}

/* FORM-BUTTON */
.form-button {
  padding: 1.2rem 2.4rem;
  color: #fff;
  background-color: #5c320e;
  border: 2px #5c320e solid;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  border-radius: 11px;

  transition: all 0.4s ease;
}

.form-button:hover {
  background: #fff;
  border: transparent 2px solid;
  color: #555;
}
