/* HERO-SECTION */
.section-hero {
  /* Box Model */
  padding: 4.8rem 0 9.6rem 0;

  /* Display */
  background-color: #fdf2e9;
}

/* HERO */
.hero {
  /* Layout */
  max-width: 130rem;
  align-items: center;
}

/* HERO-DESCRIPTION */
.hero-description {
  /* Box Model */
  margin-bottom: 4.8rem;

  /* Display */
  font-size: 2rem;
  line-height: 1.6;
}

/* HERO-TEXT-BOX */
.hero-text-box {
}

/* HERO-IMAGE-BOX */
.hero-image-box {
}

/* HERO-IMAGE */
.hero-image {
  /* Box Model */
  width: 100%;
}

/* DELIVERED-MEALS */
.delivered-meals {
  /* Layout */
  display: flex;
  align-items: center;
  gap: 1.6rem;

  /* Box Model */
  margin-top: 8rem;
  /* We should not add margins everywhere, but this component will
      only be used once, so we can add a margin to make it fit better in
      the layout. */
}

/* DELIVERED-TEXT */
.delivered-text {
  /* Display */
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  /* Display */
  color: #b8651b;
  font-weight: 700;
}

/* DELIVERED-IMAGES */
.delivered-images {
  /* Layout */
  display: flex;
}

.delivered-images img {
  /* Box Model */
  height: 4.8rem;
  width: 4.8rem;
  /* Making the images overflow each other */
  margin-right: -1.6rem;

  /* Display */
  border: 3px #fff solid;
  border-radius: 50%;
}

.delivered-images img:last-child {
  /* Box Model */
  margin-right: 0;
}
