/* SECTION-MEALS*/
.section-meals {
  /* Box model */
  padding: 6.4rem 0 12.8rem 0;
}

/* CARD */
.card {
  /* Display */
  box-shadow: 0 0 1.2rem 0.4rem rgba(0, 0, 0, 0.07);
  border-radius: 1rem;
  transition: 0.3s all ease;
}

.card:hover {
  /* Display */
  transform: translateY(-0.5rem);
  box-shadow: 0 0 1.2rem 0.4rem rgba(0, 0, 0, 0.12);
}

/* CARD__CONTENT */
.card__content {
  /* Box model */
  padding: 3.2rem;
}

/* CARD__IMAGE */
.card__image {
  /* Box model */
  width: 100%;

  /* Display */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* CARD__TITLE */
.card__title {
  /* Box model */
  margin-bottom: 3.2rem;

  /* Display */
  font-weight: 600;
  font-size: 2.4rem;
  color: #333;
}

/* CARD__FEATURES-LIST */
.card__features-list {
  /* Box model */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  /* Display */
  list-style: none;
}

.card__features-list li {
  /* Box model */
  display: flex;
  align-items: center;

  /* Display */
  font-size: 1.8rem;
}

/* ICON */
.icon {
  /* Box model */
  height: 2.4rem;
  width: 2.4rem;
  margin-right: 1.4rem;
}

/* DIETS-BOX */
.diets-box {
}

/* DIETS-LIST */
.diets-list {
  /* Box model */
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem 0;

  /* Display */
  list-style: none;
}

.diets-list li {
  /* Box model */
  display: flex;
  align-items: center;

  /* Display */
  font-size: 1.8rem;
  text-transform: uppercase;
}

/* DIETS-BOX__TITLE */
.diets-box__title {
  /* Display */
  font-size: 3rem;
  color: #333;
}

/* ALL-RECIPES*/
.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}
