/* PRICING-SECTION */
.pricing-section {
  padding: 9.6rem 0;
}

/* PRICING-CARD */
.pricing-plan {
  display: grid;
  width: 70%;
  border: 2px solid #fdf2e9;
  border-radius: 9px;
  gap: 2rem;

  grid-template-rows: 1fr 2fr 0.5fr;
  justify-items: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 0.4s all ease;
}

/* PLAN-TITLE*/
.plan-title {
  font-size: 2rem;
  color: #cf711f;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

/* PLAN-PRICE*/
.plan-price {
  font-weight: 600;
  font-size: 5.4rem;
  color: #333;
}

/* PLAN-INFO */
.plan-info {
  color: #777;
  font-size: 1.6rem;
  font-weight: 500;
}

/* PLAN-PRICE-SYMBOL */
.plan-price span {
  color: #333;
  font-size: 3.6rem;
  font-weight: 400;
}

/* PRICING-CARD--STARTER*/
.plan-price--starter {
  padding: 3.2rem 4.8rem;
  justify-self: end;

  color: #666;
}

/* PRICING-CARD--COMPLETE*/
.plan-price--complete {
  background-color: #fdf2e9;
  padding: 3.2rem 4.8rem;
  justify-self: start;
}

.plan-price--complete::after {
  content: "BEST VALUE";
  position: absolute;
  top: 7%;
  right: -10%;
  transform: rotate(45deg);
  background-color: #ffd43b;
  padding: 0.4rem 3.2rem;
  font-size: 1.8rem;
  font-weight: 500;
}

/* ADDITIONAL-INFO */
.additional-info {
  display: block;
  font-size: 1.4rem;
  color: #444;
}

/* FEATURE */
.feature {
}

/* PRICES */
.prices {
  margin-bottom: 3.2rem;
}

/* FEATURE__TITLE */
.feature__title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 1.2rem;
  color: #333;
}

/* FEATURE__TEXT */
.feature__text {
  line-height: 1.8;
  font-size: 1.6rem;
  color: #777;
}

/* FEATURE-ICON */
.feature-icon {
  box-sizing: content-box;
  height: 4.2rem;
  width: 4.2rem;
  margin: 0 auto 3.2rem;

  background-color: #fdf2e9;
  border-radius: 50%;
  padding: 0.4rem;
}

/* FEATURE-GRID */
.features {
  padding: 9.6rem 0;
}
