/* SECTION-HOW */
.section-how {
  padding: 9.6rem;
}

/* STEP-TEXT-BLOCK */
.step-text-box {
  align-self: center;
}

/* STEP-TEXT-BOX__NUMBER */
.step-text-box__number {
  /* Box model */
  margin-bottom: 1.6rem;

  /* Display */
  font-size: 8.6rem;
  font-weight: 600;
  color: #ccc;
}

/* STEP-TEXT-BOX__CONTENT */
.step-text-box__content {
  font-size: 1.8rem;
  line-height: 1.9;
}

/* STEP-IMG-BOX */
.step-img-box {
  /* Box model */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  /* Box model */
  position: absolute;
  display: block;

  /* Display */
  content: "";
  border-radius: 50%;
  transition: all 0.3s ease;
}

.step-img-box::before {
  /* Box model */
  z-index: -1;
  height: 70%;
  width: 55%;

  /* Display */
  background-color: #fae5d3;
}

.step-img-box::after {
  /* Box model */
  z-index: -2;
  height: 85%;
  width: 70%;

  /* Display */
  background-color: #fdf2e9;
}

.step-img-box:hover::before {
  /* Display */
  background-color: #f5cba7;
}

.step-img-box:hover::after {
  /* Display */
  background-color: #f8d8bd;
}

.step-img-box:hover img {
  transform: scale(1.1);
}

/* STEP-IMG */
.step-img {
  /* Box model */
  width: 45%;

  /* Display */
  transition: all 0.3s ease;
}
