/* TESTIMONIALS-SECTION */
.section-testimonials {
  /* Layout */
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;

  /* Display */
  background-color: #fdf2e9;
}

/* TESTIMONIALS-CONTAINER*/
.testimonials-container {
  /* Box model*/
  padding: 9.6rem;
}

/* TESTIMONIALS*/
.testimonials {
  /* Layout */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.4rem 8rem;
}

/* TESTIMONIAL-TEXT */
.testimonial-text {
  /* Box model */
  margin-bottom: 1.6rem;

  /* Display */
  font-size: 1.8rem;
  line-height: 1.7;
  color: #555;
}

/* CUSTOMER-PHOTO*/
.customer-photo {
  /* Box model */
  margin-bottom: 1.2rem;
  /* Width in small images should be a fixed value, using
              % can cause too small images in screens with close dimensions.*/
  width: 6.4rem;

  /* Display */
  border-radius: 50%;
}

/* TESTIMONIAL-CUSTOMER-NAME*/
.testimonial-customer-name {
  /* Display */
  color: #6f6f6f;
  font-size: 1.6rem;
}

/* GALLERY */
.gallery {
  /* Box model*/
  padding: 1.6rem;

  /* Layout */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.6rem;
}

/* GALLERY-ITEM*/
.gallery-item {
  overflow: hidden;
}

.gallery-item img:hover {
  transform: scale(1.1);
}

.gallery-item img {
  width: 100%;
  transition: 0.4s all ease;
}
